

dl.all{
  width: 800px;
}

dt.kadomaru{
  border-radius: 20px;
  background-color: #3c8dbc;
  color: white;
  padding: 10px;
  height: 40px;
  width: 250px;
  margin-top: 20px;
  float: left;
}

dd.top{
  padding-top: 20px;
  height: 60px;
  margin-left: 300px;
}

dd.exp {
 height: 40px;
 margin-top: 20px;
 margin-left: 300px;
}
