@import "receivables";

.search_container,
.select_container {
  margin-top: 40px;
}
.search_container .row {
  margin-bottom: 20px;
}

.margin_lr {
  margin: 0 10px;
}
.result_container {
  margin-top: 20px;
}
.result_container .row div[class*="col-"] {
  border: 1px solid #ddd;
  padding: 1px 4px;
  margin: 0px;
  height: 30px;
}
.result_container actions {
  margin-top: 20px;
}

.financial-institutions {
  margin: 20px 0 10px 0;
}

.transfers_form {
  margin: 20px 0 20px 0;
}
.transfers_form div {
  margin-top: 6px;
}
.transfers_account div[class*="col-"] {
  padding-right: 0;
}
.transfer_amount {
  margin-top: 10px;
}
.own_transfer_bank {
  outline: 2px solid #dddddd;
  background-color: #5bc0de;
}

label.rabel_height,
.select_height {
  height: 25px;
}
